@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


body{
  background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1720&q=80');
  color: white;
}

/* nav */

.nav{
  text-align:center;
  display: flex;
}

.name{
  font-size: 5ch;
}

.name:hover{
  color: red;
}

nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 8%;
}

.projectsLink{
  color: white;
  margin-top: 40px;
  margin-left: 250px;
  font-size: 4ch;
}







/* about me */

.brand {
  font-size: 3.5ch;
  line-height: 55px;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 20%;
  margin-bottom: 10%;

}

.self{
  border-radius: 50%;
  height: 300px;
  margin-left: 35%;
  box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

.selfoverlay{
  position: relative;
}

.selfoverlay:hover .overlay {
  width: 100%;
}

.projAndResume{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .5fr 1fr;
  grid-template-areas:
    "a"
    "."
    "b";
}

.p{
  grid-area: a;
}

.r{
  grid-area: b;
}






/* projects */



.myprojects{
  text-align:center;
}

.projects{
  width: 100%;
  height: 40em;
  display:grid;
  grid-template-columns: .5fr 1fr .5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  grid-template-areas: 
    ". p1 ."
    ". p2 ."
    ". p3 ."
    ". p4 .";
  margin-top: 15%;
}

.i{
  height: 20em;
  border-radius: 10px;
  border: 4px solid black;
  width: 75%;
}

.projA {
grid-area: p1;
grid-gap: 30px 0px;
}
.projA:hover .overlay {
  width: 90%;
}

.projB {
grid-area: p2;
text-align: center;
grid-gap: 30px 0px;
}

.projB:hover .overlay {
  width: 90%;
}

.projC {
  grid-area: p3;
  text-align: center;
}

.projC:hover .overlay {
  width: 90%;
}

.projD {
  grid-area: p4;
  text-align: center;
}

.projD:hover .overlay {
  width: 90%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: silver;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.overlayText{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}




/* resume */



.resume{
  text-align: center;
  margin-top: 20%;
}

.resumepng {
  border: 5px solid black;
  height: 600px;
  margin: 5px;
}

.res-cont {
  margin-bottom: 100px;
  position: relative;
}

.res-cont:hover .resumeoverlay {
  width: 100%;
}

.resumeoverlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.resumeoverlaytext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}






/* footer */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: white;
  opacity: .8;
  color: black;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "foot-a foot-b foot-c foot-d foot-e";
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  font-family: 'Gemunu Libre', sans-serif;
}

a{
  text-decoration: none;
  color: black;
  font-size: 3ch;
}

.footr:hover{
  color: red;
}

.foot-a{
  grid-area: foot-a;
  font-size: 2ch;
}

.connect{
  font-size: 3ch;
}

.foot-b{
  grid-area: foot-b;
}

.foot-c{
  grid-area: foot-c;
}

.foot-d{
  grid-area: foot-d; 
}


.nav-logo{
  width: 30%;
  border-radius: 20%;
}





/* contact */


.back{
  text-decoration: none;
  border: none;
  background-color: white;
  margin-top: 10px;
}

.contactme {
  text-align:center;
}

.form{
  display: flex;
  justify-content: center;
}

input {
  width: 600px;
  display: flex;
}

textarea {
  height: 10em;
  width: 600px;
}

.message-chars-left{
  width: 600px;
  margin: auto;
  text-align: left;
}

.space{
  width: 100%;
  height: 200px;
}