
/* nav */

.nav-logo{
  width: 20%;
  border-radius: 20%;
  height: 20%;
}


/* projects */







/* footer */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: white;
}